@model FrontendHelper.Models.CreateUserAssetViewModel

<h2>Загрузить свой ресурс</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data" class="generic-form">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Название</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Topic" class="form-label">Тема (опционально)</label>
        <input asp-for="Topic" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="ResourceType" class="form-label">Тип ресурса</label>
        <select asp-for="ResourceType" class="form-select">
            <option>Icon</option>
            <option>Picture</option>
            <option>AnimatedElement</option>
            <option>Button</option>
            <option>Template</option>
            <option>Form</option>
            <option>Font</option>
            <option>Palette</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="File" class="form-label">Файл</label>
        <input asp-for="File" type="file" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
