@model IEnumerable<ButtonViewModel>

<div class="container py-4">
    <h2 class="mb-4">Кнопки</h2>
    <div class="row">
        @foreach (var button in Model)
        {
            <div class="col-6 col-md-4 mb-4">
                <div class="card h-100 shadow-sm d-flex flex-column p-3">

                    <div class="text-center mb-3">

                        <div class="text-center mb-3">
                            <iframe src="@Url.Content($"~/buttons/{button.ButtonCode}")"
                                    frameborder="0"
                                    scrolling="no"
                                    style="border:none; width:100%; height:50px; overflow:hidden;">
                            </iframe>
                        </div>

                    </div>

                    <h6 class="text-truncate mb-3">@button.Name</h6>

                    <div class="mt-auto">
                        <a asp-action="ShowButton"
                           asp-route-id="@button.Id"
                           class="btn btn-link p-0">
                            Подробнее →
                        </a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
