@{
    ViewData["Title"] = "IconList";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
@* 
<h1>PictureTypeList</h1> *@

@model IEnumerable<AnimatedElement>

<h1 class="mb-4">Список анимированных элементов</h1>

<div class="row">
    @foreach (var animatedElement in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="@animatedElement.Img" class="card-img-top" alt="@animatedElement.Name" style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">@animatedElement.Name</h5>
                    <p class="card-text text-muted">Категория: @animatedElement.Topic</p>
                </div>
            </div>
        </div>
    }
</div>
